.aboutpage {
  @include pagecontent();
  &__content {
    padding: 38px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @include responsive(small) {
      padding: 19px 0;
      gap: 20px;
    }
  }
}
