.footer {
  height: 163px; //209 total
  padding: 22px 0;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
  @include responsive(small) {
    gap: 15px;
    justify-content: center;
  }

  &__text {
    line-height: 1.5;
    text-align: center;
    font-size: 24px;
    @include responsive(small) {
      font-size: 12px;
      width: 100px;
    }
  }
}
